
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_php_init.sh":
    mode: "000755"
    content : |
        #!/usr/bin/env bash
        set -x
        sleep 10
        echo -e "
         <html>
          <head>
           <title>Terraform challenge</title>
         </head>
         <body>
            <?php echo '<h1><p>Terraform for the People</h1></p>'; ?> 
         </body>
         </html>
         " > /var/app/current/index.php
